<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /app_ci
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
<IfModule !mod_rewrite.c>
ErrorDocument 404 /app_ci/index.php
</IfModule>